In [2]:
import pandas as pd 
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
from sklearn.feature_selection import RFECV
from sklearn.linear_model import LinearRegression
from scipy.io import loadmat as loadmat
import matplotlib
import numpy as np
import matplotlib.cm as cm
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
import math

In [3]:
%matplotlib inline

In [12]:
df = pd.read_csv('elsec15.csv', low_memory=False)

In [13]:
df

,STATE,IDCENSUS,NAME,CONUM,CSA,CBSA,SCHLEV,NCESID,YRDATA,V33,...,V32,_19H,_21F,_31F,_41F,_61V,_66V,W01,W31,W61
0,1,1500100100000,AUTAUGA COUNTY SCHOOL DISTRICT,1001,N,33860,3,0100240,15,9664,...,0,49431,16603,2992,63042,0,0,2094,372,8617
1,1,1500200100000,BALDWIN COUNTY SCHOOL DISTRICT,1003,380,19300,3,0100270,15,30596,...,0,337160,99087,13027,423220,0,0,5784,50441,71370
2,1,1500300100000,BARBOUR COUNTY SCHOOL DISTRICT,1005,N,N,3,0100300,15,925,...,0,8024,0,304,7720,0,0,0,0,646
3,1,1500300200000,EUFAULA CITY SCHOOL DISTRICT,1005,N,N,3,0101410,15,2829,...,0,0,0,0,0,0,0,0,2054,7478
4,1,1500400100000,BIBB COUNTY SCHOOL DISTRICT,1007,142,13820,3,0100360,15,3357,...,0,22155,0,1190,20965,0,0,1397,790,5400
5,1,1500500100000,BLOUNT COUNTY SCHOOL DISTRICT,1009,142,13820,3,0100420,15,8082,...,0,11123,0,980,10143,0,0,843,947,22610
6,1,1500500200000,ONEONTA CITY SCHOOL DISTRICT,1009,142,13820,3,0102550,15,1485,...,0,2598,0,248,2350,0,0,2190,814,1965
7,1,1500600100000,BULLOCK COUNTY SCHOOL DISTRICT,1011,N,N,3,0100480,15,1519,...,0,4150,0,334,3816,0,0,324,0,1177
8,1,1500700100000,BUTLER COUNTY SCHOOL DISTRICT,1013,N,N,3,0100510,15,3191,...,0,28128,31858,32248,27738,0,0,522,3845,3456
9,1,1500800200000,ANNISTON CITY SCHOOL DISTRICT,1015,N,11500,3,0100090,15,2141,...,0,2448,0,51,2397,0,0,1652,673,0
10,1,1500800300000,CALHOUN COUNTY SCHOOL DISTRICT,1015,N,11500,3,0100540,15,9232,...,0,1096,0,812,284,0,0,456,7148,17969
11,1,1500800400000,JACKSONVILLE CITY SCHOOL DISTRICT,1015,N,11500,3,0101860,15,1544,...,0,9586,0,541,9045,0,0,115,8032,2754
12,1,1500800500000,PIEDMONT CITY SCHOOL DISTRICT,1015,N,11500,3,0102760,15,1223,...,0,2504,0,256,2248,0,0,708,1434,771
13,1,1500880100000,OXFORD CITY SCHOOL DISTRICT,1015,N,11500,3,0102635,15,4205,...,0,28093,12498,12820,27772,0,0,1163,1053,9851
14,1,1500900100000,CHAMBERS COUNTY SCHOOL DISTRICT,1017,194,46740,3,0100600,15,3739,...,0,18336,0,2032,16304,0,0,613,60,7405
15,1,1500900200000,LANETT CITY SCHOOL DISTRICT,1017,194,46740,3,0101980,15,942,...,0,596,0,189,407,0,0,0,0,1216
16,1,1501000100000,CHEROKEE COUNTY SCHOOL DISTRICT,1019,N,N,3,0100630,15,4047,...,0,16780,3979,662,20097,0,0,339,3987,10539
17,1,1501100100000,CHILTON COUNTY SCHOOL DISTRICT,1021,142,13820,3,0100660,15,7620,...,0,1683,0,1391,292,0,0,0,6074,11155
18,1,1501200100000,CHOCTAW COUNTY SCHOOL DISTRICT,1023,N,N,3,0100690,15,1575,...,0,17860,0,1241,16619,0,0,611,2335,1786
19,1,1501300100000,CLARKE COUNTY SCHOOL DISTRICT,1025,N,N,3,0100720,15,2897,...,0,16039,402,932,15508,0,0,105,528,1766
20,1,1501370100000,THOMASVILLE CITY SCHOOL DISTRICT,1025,N,N,3,0103300,15,1390,...,0,1857,0,539,1318,0,0,283,177,4032
21,1,1501400100000,CLAY COUNTY SCHOOL DISTRICT,1027,N,N,3,0100750,15,2031,...,0,5799,0,459,5340,0,0,71,577,958
22,1,1501500100000,CLEBURNE COUNTY SCHOOL DISTRICT,1029,N,N,3,0100780,15,2697,...,0,5287,300,689,4898,0,0,74,412,3709
23,1,1501600100000,COFFEE COUNTY SCHOOL DISTRICT,1031,222,21460,3,0100810,15,2028,...,0,9799,0,364,9435,0,0,1059,432,8134
24,1,1501600200000,ELBA CITY SCHOOL DISTRICT,1031,222,21460,3,0101260,15,658,...,0,1242,50,46,1246,0,0,0,180,493
25,1,1501600300000,ENTERPRISE CITY SCHOOL DISTRICT,1031,222,21460,3,0101320,15,6674,...,0,9635,0,722,8913,0,0,0,23247,9507
26,1,1501700100000,COLBERT COUNTY SCHOOL DISTRICT,1033,N,22520,3,0100840,15,2703,...,0,420,0,129,291,0,0,0,2847,5259
27,1,1501700200000,SHEFFIELD CITY SCHOOL DISTRICT,1033,N,22520,3,0103000,15,1118,...,0,3513,0,30,3483,0,0,206,567,5337
28,1,1501700300000,TUSCUMBIA CITY SCHOOL DISTRICT,1033,N,22520,3,0103420,15,1551,...,0,5911,3067,177,8801,0,0,634,5161,3872
29,1,1501750100000,MUSCLE SHOALS CITY SCHOOL DISTRICT,1033,N,22520,3,0102520,15,2880,...,0,11557,150,0,11707,0,0,373,81,6836
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14346,51,51500780200000,FREMONT CO SCHOOL DIST 6,56013,N,40180,3,5602830,15,359,...,0,0,0,0,0,0,0,64,0,4913
14347,51,51500800300000,GOSHEN CO SCH DIST 1,56015,N,N,3,5602990,15,1713,...,0,0,0,0,0,0,0,0,0,10436
14348,51,51500901100000,HOT SPRINGS CO SCH DIST 1,56017,N,N,3,5603310,15,617,...,0,0,0,0,0,0,0,14,0,4224
14349,51,51501000200000,JOHNSON CO SCH DIST 1,56019,N,N,3,5603770,15,1284,...,0,0,0,0,0,0,0,84,0,4221
14350,51,51501100100000,LARAMIE CO SCH DIST 1,56021,N,16940,3,5601980,15,13761,...,0,0,0,0,0,0,0,0,0,75220
14351,51,51501100700000,LARAMIE CO SCH DIST 2,56021,N,16940,3,5604120,15,987,...,0,0,0,0,0,0,0,0,0,4864
14352,51,51501200100000,LINCOLN CO SCH DIST 1,56023,N,N,3,5604030,15,634,...,0,3850,0,750,3100,0,0,810,0,5464
14353,51,51501290100000,LINCOLN CO SCHOOL DIST 2,56023,N,N,3,5604060,15,2681,...,0,0,0,0,0,0,0,22,0,4608
14354,51,51501301200000,NATRONA CO SCH DIST 1,56025,N,16220,3,5604510,15,13433,...,0,0,0,0,0,0,0,0,0,42645
14355,51,51501400100000,NIOBRARA CO SCH DIST,56027,N,N,3,5604230,15,978,...,0,0,0,0,0,0,0,0,0,3066
14356,51,51501500100000,PARK CO SCH DISTRICT 1,56029,N,N,3,5605160,15,1761,...,0,0,0,0,0,0,0,0,0,16816
14357,51,51501500300000,PARK CO SCH DIST 6,56029,N,N,3,5602070,15,2105,...,0,0,0,0,0,0,0,0,0,8353
14358,51,51501500600000,PARK CO SCH DIST 16,56029,N,N,3,5604380,15,109,...,0,0,0,0,0,0,0,0,0,3167
14359,51,51501600500000,PLATTE CO SCH DIST #1,56031,N,N,3,5605090,15,1003,...,0,0,0,0,0,0,0,96,0,3939
14360,51,51501670100000,PLATTE CO SCH DIST 2,56031,N,N,3,5603180,15,228,...,0,0,0,0,0,0,0,0,0,1988
14361,51,51501700600000,SHERIDAN CO SCH DIST 2,56033,N,43260,3,5605695,15,3390,...,0,0,0,0,0,0,0,692,0,14292
14362,51,51501701500000,SHERIDAN CO SCH DIST 3,56033,N,43260,3,5605680,15,84,...,0,0,0,0,0,0,0,0,0,1173
14363,51,51501701700000,SHERIDAN CO SCH DIST 1,56033,N,43260,3,5605690,15,980,...,0,990,0,295,695,0,0,389,0,570
14364,51,51501800100000,SUBLETTE CO SCH DIST 1,56035,N,N,3,5604860,15,1035,...,0,0,0,0,0,0,0,0,0,41791
14365,51,51501800600000,BIG PINEY SCH DIST 9,56035,N,N,3,5601260,15,627,...,48,0,0,0,0,0,0,0,0,5854
14366,51,51501900200000,SWEETWATER CO SCH DIST 2,56037,N,40540,3,5605762,15,2726,...,0,10500,0,1340,9160,0,0,333,0,13123
14367,51,51501900400000,SWEETWATER CO SCH DIST 1,56037,N,40540,3,5605302,15,5719,...,0,0,0,0,0,0,0,0,0,36720
14368,51,51502000200000,TETON CO SCH DIST 1,56039,N,27220,3,5605830,15,2691,...,0,0,0,0,0,0,0,0,0,15736
14369,51,51502100100000,UINTA CO SCH DIST 1,56041,N,21740,3,5602760,15,2911,...,0,0,0,0,0,0,0,0,0,12022
14370,51,51502100200000,UINTA CO SCH DIST 4,56041,N,21740,3,5604500,15,791,...,0,0,0,0,0,0,0,0,0,8630
14371,51,51502100400000,UINTA CO SCH DIST 6,56041,N,21740,3,5604260,15,721,...,0,5000,0,0,5000,0,0,5512,0,4083
14372,51,51502200300000,WASHAKIE SCH DIST 2,56043,N,N,3,5605820,15,91,...,0,0,0,0,0,0,0,7,0,1757
14373,51,51502200400000,WASHAKIE CO SCH DIST 1,56043,N,N,3,5606240,15,1353,...,0,8610,0,490,8120,0,0,674,0,8151
14374,51,51502300100000,WESTON CO SCH DIST 1,56045,N,N,3,5604830,15,784,...,0,0,0,0,0,0,0,0,0,2413
14375,51,51502300200000,WESTON CO SCHOOL DIST 7,56045,N,N,3,5606090,15,264,...,0,0,0,0,0,0,0,0,0,1378

In [15]:
df.head()

,STATE,IDCENSUS,NAME,CONUM,CSA,CBSA,SCHLEV,NCESID,YRDATA,V33,...,V32,_19H,_21F,_31F,_41F,_61V,_66V,W01,W31,W61
0,1,1500100100000,AUTAUGA COUNTY SCHOOL DISTRICT,1001,N,33860,3,0100240,15,9664,...,0,49431,16603,2992,63042,0,0,2094,372,8617
1,1,1500200100000,BALDWIN COUNTY SCHOOL DISTRICT,1003,380,19300,3,0100270,15,30596,...,0,337160,99087,13027,423220,0,0,5784,50441,71370
2,1,1500300100000,BARBOUR COUNTY SCHOOL DISTRICT,1005,N,N,3,0100300,15,925,...,0,8024,0,304,7720,0,0,0,0,646
3,1,1500300200000,EUFAULA CITY SCHOOL DISTRICT,1005,N,N,3,0101410,15,2829,...,0,0,0,0,0,0,0,0,2054,7478
4,1,1500400100000,BIBB COUNTY SCHOOL DISTRICT,1007,142,13820,3,0100360,15,3357,...,0,22155,0,1190,20965,0,0,1397,790,5400

In [16]:
df.shape

(14376, 141)

In [17]:
df.describe()

,STATE,IDCENSUS,CONUM,SCHLEV,YRDATA,V33,TOTALREV,TFEDREV,C14,C15,...,V32,_19H,_21F,_31F,_41F,_61V,_66V,W01,W31,W61
count,14376.000000,1.437600e+04,14376.000000,14376.000000,14376.0,14376.000000,1.437600e+04,1.437600e+04,14376.000000,14376.000000,...,14376.000000,1.437600e+04,1.437600e+04,14376.000000,1.437600e+04,14376.000000,14376.000000,14376.000000,14376.000000,1.437600e+04
mean,26.801336,2.728090e+13,29838.158598,2.883139,15.0,3374.682526,4.546951e+04,3.708038e+03,915.914858,752.781093,...,7.318656,2.871850e+04,4.831726e+03,3936.853158,2.957606e+04,487.162354,553.761547,1335.636825,3710.651920,9.091542e+03
std,13.894331,1.389514e+13,14753.492121,1.271649,0.0,14419.737037,2.590623e+05,2.021328e+04,5972.748111,3619.184513,...,122.649299,1.841763e+05,2.652979e+04,20071.591744,1.894224e+05,3555.988118,6968.740454,10651.097318,20183.852905,3.261580e+04
min,1.000000,1.500100e+12,1001.000000,1.000000,15.0,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,15.000000,1.550327e+13,18063.000000,3.000000,15.0,305.000000,5.241500e+03,2.920000e+02,54.000000,0.000000,...,0.000000,8.400000e+01,0.000000e+00,5.000000,7.150000e+01,0.000000,0.000000,0.000000,0.000000,8.350000e+02
50%,27.000000,2.750320e+13,30063.000000,3.000000,15.0,979.500000,1.402300e+04,8.470000e+02,180.000000,118.000000,...,0.000000,4.034000e+03,0.000000e+00,410.000000,4.143500e+03,0.000000,0.000000,0.000000,0.000000,2.708500e+03
75%,38.000000,3.850053e+13,41009.000000,3.000000,15.0,2744.250000,3.791375e+04,2.433500e+03,545.250000,532.000000,...,0.000000,1.866350e+04,3.030000e+02,1845.000000,1.912600e+04,0.000000,0.000000,491.000000,626.250000,7.567500e+03
max,51.000000,5.150230e+13,56045.000000,7.000000,15.0,995192.000000,2.543738e+07,1.307783e+06,379531.000000,248209.000000,...,7753.000000,1.372802e+07,1.312286e+06,731854.000000,1.447108e+07,173300.000000,700000.000000,869643.000000,885058.000000,2.355662e+06

In [19]:
df.columns

Index(['STATE', 'IDCENSUS', 'NAME', 'CONUM', 'CSA', 'CBSA', 'SCHLEV', 'NCESID',
       'YRDATA', 'V33',
       ...
       'V32', '_19H', '_21F', '_31F', '_41F', '_61V', '_66V', 'W01', 'W31',
       'W61'],
      dtype='object', length=141)

In [27]:
useful = df[['STATE', 'YRDATA', 'TOTALREV', 'TFEDREV', 'TSTREV']]

In [28]:
spending = df[['TCURELSC', 'TCURINST', 'TCURSSVC', 'TCUROTH' ]]

In [32]:
useful.head()

   STATE  YRDATA  TOTALREV  TFEDREV  TSTREV
0      1      15     79665     7574   53244
1      1      15    330317    23602  143282
2      1      15     10519     2518    5632
3      1      15     26076     3374   16048
4      1      15     31825     3586   21687

In [33]:
spending.head()

   TCURELSC  TCURINST  TCURSSVC  TCUROTH
0     72872     44085     23217     5570
1    269928    155668     99682    14578
2      9957      5249      3835      873
3     24232     14887      7494     1851
4     29133     16019     10822     2292

In [4]:
!conda install seaborn --yes

Fetching package metadata .........
Solving package specifications: .

# All requested packages already installed.
# packages in environment at /Users/kevinliu743/anaconda3:
#
seaborn                   0.7.1                    py34_0

In [9]:
import seaborn as sns